.form_container {
    display: flex;
    flex-direction: column;
    background-color: #78ddde;
}

.file-form {
    width: 100%;
    padding: 20px;
}

.file-form > * {
    background-color: #EAF0F9;
    margin: 10px;
}
